/* Header styles*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-bottom: 2px solid #931D1E;
  background-color: #ecf3fd;
  width: 18vw;
  height: 15vh;
}

#logoImg {
  width: 15vw;
}

div #optHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 18vw;
  border-bottom: 2px solid #931D1E;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  color: blue;
}

div #optHolder p a {
  color: white;
  background-color: #50B4C2;
  font-style: none;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #931D1E;
  padding: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 1vh;
}

div #optHolder p a:hover {
  color: white;
  background-color: #50B4C2;
  font-style: none;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid #931D1E;
  padding: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 1vh;
}

header h1 {
  border: 1px solid white;
}

/* Footer styles*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

/* body styles*/
body {
  margin: 0;
  padding: 0;
  color: #931D1E;
  background-color: 50B4C2;
  width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div #left_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  background-color: #ecf3fd;
  width: 20vw;
}

div #section_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  height: 85vh;
  width: 20vw;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #931D1E;
  color: #ffffff;
  width: 18vw;
  border: 2px solid #931D1E;
  border-radius: 1.5vw;
  margin-top: 2vh;
}

aside h2 {
  text-align: center;
  padding-top: 1vw;
  margin: 0;
}

div #info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #931D1E;
  width: 18vw;
  border: 2px solid #931D1E;
  border-radius: 1.5vw;
  margin-bottom: 2vh;
  color: #ffffff;
}

div #info_section p {
  font-size: 2.75vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1vw;
  margin: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
  border-bottom: 1px solid #931D1E;
}

ul li a {
  text-decoration: none;
  font-size: 2.5vh;
  color: black;
  margin-left: 2vw;
}

ul li a:hover {
  text-decoration: none;
  font-size: 3vh;
  color: #50B4C2;
  margin-left: 2vw;
}

::-webkit-scrollbar {
  display: none;
}

div #scroll_box {
  width: 16vw;
  height: 35vh;
  line-height: 3em;
  overflow: scroll;
  background-color: #ffffff;
  color: #931D1E;
  border: 1px solid #931D1E;
  border-radius: 1vw;
  margin: 0;
}

section {
  margin-left: 20vw;
  width: 80vw;
  min-height: 115vh;
}

#prodHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  width: 80vw;
  position: fixed;
  z-index: 1;
}

#prodHead h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
  width: 48vw;
  border: 2px solid #931D1E;
  color: #ffffff;
  background-color: #931D1E;
  border-radius: 1.5vw;
  font-size: 5vh;
}

/*      Styling for Instructions table      */
table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 15vh;
  z-index: 0;
  background-color: #50B4C2;
}

/* variables*/
/* add record section */
div #add_rec {
  margin-left: 20vw;
}

/* Category list */
div #cat_list {
  margin-left: 25vw;
}

/* edit entry */
div #edit_form {
  margin-left: 25vw;
}
/*# sourceMappingURL=mainStyles.css.map */